body{
	padding: 0;
	margin:50px 0 0 0;
	width: 100%;
	height: 300%;
	background-color: rgb(230,230,230);
}

html{
	padding: 0;
	margin: 0;
	height: 800px;
	width: 100%;
	background-color: rgb(230,230,230);
}

/*header*/

header{
	position: fixed;
	top: 0;
	width: 10%;
	height: 40px;
	margin: 0;
	padding: 0;
}

header h1 {
	margin: 0;
	padding:0; 
}

header h1 #WAB_logo{
	display: block;
	transform:rotate(-45deg);
	background-color:#00BFFF;
	box-shadow: 0 1px 1px 1px;
	border-radius:50% 0 0 0 ;
}

#white_board{
	width: 95%;
	height: 200%;
	margin: 50px auto 100px auto;
	box-shadow: 0 1px 1px 1px;
	background-color: white;
}




/*ここからhtml_tags*/



#html_tags{
	width: 90%;
	height: 40px;
	position: fixed;
	bottom: 0;
	margin:0 5% 0  5% ;
	box-shadow: 0 1px 1px 1px;
	/*border-radius: 15px 15px 0 0;*/
	background-color: rgba(220,220,150,1);
}


#html_tags ul{
	margin: 0;
	padding: 0;
	height: 50px;
}

#html_tags li{
	display: block;
	float: left;
	width: 12.5%;
	margin:0;
	padding: 0;
	text-align: center;
	/*border-right:solid 1px gray; */
	box-shadow: 0 0 1px 0;
	/*border-right: solid 1px gray;*/
}


	/*ここまでhtml_tags*/

	/*ここからoptions*/

#options{
	position: fixed;
	left: 0;
	bottom: 50px;
	width: 80px;
	height: 120px;
	/*background-color: rgba(220,220,150,0.8);*/
}

#options #save_button,
#preview_button{
	height: 60px;
	width: 60px;
	z-index: 0;
	border-radius: 50%;
	text-align: center;
	margin:0  auto ;
	background-color: rgb(150,200,120);
	box-shadow: 0 1px 2px 1px;
}

#save_button p,
#preview_button p{
	padding: 5px 0 0 0 ;
}

#preview_button{
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50%;
	margin:0 auto ;
	background-color: rgb(150,200,120);
}


	/*ここまでoptions*/

	/*ここからmenu*/

#menu{
	position: fixed;
	right: -300px;
	top:0;
	width: 300px;
	height: 100%;
	background-color: rgba(250,200,100,0.95);
	z-index: 10;
	box-shadow: 2px 0px 10px 2px;
}

#menu span {
	position: fixed;
	height: 150px;
	width: 20px;
	top: 100px;
	right: 0px;
	text-align: center;
	/*border:solid 1px gray;*/
	/*box-shadow: 0 1px 0 1px;*/
	background-color:rgba(250,200,100,0.8); 
	z-index: 10;
}

#menu_top{
	height: 70%;
	width: 100%;
	float: left;
}


#menu_bottom{
	border-top: dotted 1px orange;
	height: 30%;
	width: 100%;
	float: left;
}

#option_button{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
	background-color: orange;
	box-shadow: 1px 2px 2px 0px;

}

#keio_hack_link{
	height: 50px;
	width:270px;
	float: left;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	margin: 20px 15px;
	background-color: lightblue;
	box-shadow: 3px 3px 5px 0px;
}

	/*ここまでmenu*/


	/*ここからoptions*/

#dash_board{
	position: fixed;
	right: -300px;
	top:0;
	width: 300px;
	height: 100%;
	background-color: rgba(250,200,100,0.9);
	z-index: 10;
}

#dash_board span {
	position: fixed;
	height: 150px;
	width: 20px;
	top: 250px;
	right: 0px;
	text-align: center;
	border:solid 1px gray;
	/*box-shadow: 0 1px 0 1px;*/
	background-color:rgba(250,200,100,0.9); 
	z-index: 10;
}

	/*ここまでoptions*/

.menu_button{
	height: 30px;
	width: 200px;
	float: left;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	margin: 20px 50px ;
	background-color:rgb(175,250,175);
	box-shadow: 1px 1px 2px 0px;
}

#menu h1{
	text-align: center;
	font-weight: 900;
	border-bottom: dotted 1px orange;
}